*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Cabin";
}

h1, h2, h3, h4{
    font-family: "Fredoka";
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

/* Header */

header{
    background-color: #f2e3cd;
    padding: 1rem;
}

.logo{
    width: 6rem;
}

.main-title{
    color: #a77022;
    font-size: 3rem;
    font-weight: 500;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul, li{
    display: flex;
    gap: 1.25rem;
}

.nav-list{
    list-style: none;
    font-size: 1.25rem;
}

.nav-list a{
    color: #a77022;
    text-decoration: none;
}

/* Body */
body {
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.5)),
                url('../images/coffee-5150540_1280.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
.contactForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 18rem;
    justify-content: center;
    padding: 2rem;
}

.image-container{
    width: 40%;
}

main{
    width: 80%;
    margin: auto;
}

.products {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.product {
    background-color: #f2e3cd;
    width: 16rem;
    height: 22rem;
    border: 1px solid #a77022;
    border-radius: 10px;
}

.product-content {
    color: #a77022;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
}

.product img {
    border-radius: 10px 10px 0 0;
    width: 15.9rem;
    height: 13rem;
    background-color: white;
}

.sections {
    margin: 0 10%;
    padding: 2rem;
    color: #a77022;
}

.spacing{
    padding: .25rem;
}

.video-container{
    display: flex;
    margin: auto;
    padding: 2rem 0 2rem 0;
    height: 80vh;
}

/* Footer */

.iframe{
    display: flex;
    justify-content: flex-end;
}

footer{
    background-color: #f2e3cd;
}

footer p{
    color: #a77022;
    font-size: 1.25rem;
}