*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Cabin";
}

/* Header */

header{
    background-color: #f2e3cd;
}

.logo{
    width: 6rem;
}

.main-title{
    color: #a77022;
    font-family: "Fredoka";
    font-size: 3rem;
    font-weight: 500;
}

.nav-menu ul, li{
    display: inline;
}

.nav-list{
    list-style: none;
    font-size: 1.25rem;
}

.nav-list a{
    color: #a77022;
    text-decoration: none;
}

/* Body */
body {
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.5)),
                url('../images/coffee-5150540_1280.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }  

.image-container{
    width: 40%;
}

.video-container{
    width: 40%;
}

/* Footer */

footer{
    background-color: #f2e3cd;
}

footer p{
    color: #a77022;
    font-size: 1.25rem;
}